[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
ipdb = "*"
pynacl = "*"
py-cord = "==2.7.0rc1"
ffmpeg = "*"
ffmpeg-python = "*"
asyncio = "*"
pytubefix = "*"
librespot = {git = "https://github.com/kokarare1212/librespot-python"}

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"
types-requests = "*"
types-pyyaml = "*"
ruff = "*"

[requires]
python_version = "3.13"
