[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librespot = {git = "https://github.com/kokarare1212/librespot-python"}
pyyaml = "*"
ipdb = "*"
pynacl = "*"
py-cord = {git = "https://github.com/mattabullock/pycord"}
ffmpeg = "*"
ffmpeg-python = "*"
asyncio = "*"

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"
types-requests = "*"
types-pyyaml = "*"

[requires]
python_version = "3.10"
