[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
ipdb = "*"
pynacl = "*"
ffmpeg = "*"
ffmpeg-python = "*"
asyncio = "*"
librespot = {git = "https://github.com/kokarare1212/librespot-python"}
pytube = "*"
pytubefix = "*"
pycord = "*"
py-cord = {extras = ["voice"], version = "*"}

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"
types-requests = "*"
types-pyyaml = "*"
ruff = "*"

[requires]
python_version = "3.13"
